/* 
@author Bassel Rezkalla
@date 2020/04/09 
*/

.hublink {
    /* margin: 3vh 90vw; */
    position: absolute;
    top: 2em;
    right: 2em;
    /* text-align: right; */
}

.gitlink {
    cursor: pointer;
    color: rgb(255, 60, 0);
}


.gitlink:link {
    color: rgb(255, 60, 0);
}

.gitlink:visited {
    color: rgb(255, 60, 0);
}


.gitlink:hover {
    color: rgb(255, 151, 92);
}

body{
    margin: 0;
    /* background-color: rgba(100, 0, 0, 0.1); */
}

input{
    display: block;
    margin: auto;
    padding: 4vh 0;
}

canvas{
    display: none;
}

.title{
    text-align: center;
}

#msg {
    text-align: center;
    /* margin-bottom: 30px;  */
}

h1{
    color: rgb(255, 60, 0);
    margin-bottom: 0px;
}

h3{
    font-size: 25px;
    margin: 30px;
}

.center-screen {
    /* position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -150%); */
    margin: 8vh 5vw;
  }

.button {
    position: absolute;
    top: 70%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* margin: 3vh 5vw;
    text-align: center; */
}

#refreshDiv {
    text-align: center;
    display: none;
    /* position: fixed; */
    /* top: 12vh;
    left: 47vw; */
}

.btn {
    background-color: #df6e52;
    background-color: rgb(255, 110, 66);
    border: none;
    outline: none;
    color: white;
    /* width: 176px;
    height: 81px; */
    /* padding: 15px 10px; */
    /* text-align: center; */
    text-decoration: none;
    /* display: inline-block; */
    font-size: 18px;
    font-weight: 500;
    /* margin: 8px; */
    /* transition-duration: 0.25s; */
    cursor: pointer;
    border-radius: 4px;
}

.middle {
    margin-top: 65px;
    text-align: center;
}

#disc{
    position: absolute;
    top: 85%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 10vh;
}

